<footer class="footer"> <small>
The Cyber Security Training Application
by ***Group Name*** </small>
<nav> <ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "Help", help_path %></li>
<!--<li><a href="http://news.railstutorial.org/">News</a></li> This line shows you how to link to external sites-->
</ul> </nav>
</footer>
